<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
	<head>
  		<meta charset="UTF-8">
	  	<title th:text="${title}"></title>
	  	<script
	        src="https://code.jquery.com/jquery-3.6.0.min.js"
	        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
	        crossorigin="anonymous"></script><!--con esto agrego jquery-->
	</head>
	
	<body>
	
		<h1 th:text="${title}"></h1>

		<br/>
		
		<table id="tabla_habilidades">
			<thead>
			  	<tr>

			    	<th onmouseover="pintar(this,'#ffa0bd')"
                        onmouseout="pintar(this,'#fff')">
                    ID</th>

			    	<th onmouseover="pintar(this,'#ffa0bd')"
                        onmouseout="pintar(this,'#fff')">
                    NOMBRE</th>

			  	</tr>
		  	</thead>
		  	
		  	<tbody>
		  		<tr th:each="habilidad: ${habilidades}">
			    	<td onmouseover="pintar(this,'#ffe0e9')"
                        onmouseout="pintar(this,'#fff')"
                        th:text="${habilidad.getId()}"></td>

			    	<td onmouseover="pintar(this,'#ffe0e9')"
                        onmouseout="pintar(this,'#fff')"
                        th:text="${habilidad.getNombre()}"></td>

			  	</tr>
		  	</tbody>

		</table>

	</body>

	<script
        src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous">
    </script><!--con esto agrego jquery-->

    <script
        src="https://code.jquery.com/jquery-3.2.1.js"
        type="text/javascript">
    </script>

	<script>

        function pintar(objeto, color){
            objeto.style.backgroundColor = color;
        }

    </script>

</html>
