<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
  <head th:replace="layout/layout :: head"></head>
</head>
<body>
<header th:replace="layout/layout :: header"></header>
<h1 th:text="${title}"></h1>
<br/>
<table >
  <thead>
  <tr>
    <th>id</th>
    <th>nombre</th>
    <th>nivel</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="pokemon: ${pokemones}">
    <td th:text="${pokemon.getId()}"></td>
    <td th:text="${pokemon.getNombre()}"></td>
    <td th:text="${pokemon.getNivel()}"></td>
  </tr>
  </tbody>

</table>
<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>