<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">

	<head>
		<meta charset="UTF-8">
		<title th:text="${title}"></title>
	</head>
  	<body>

	  	<h1 th:text="${title}"></h1>

		<button id="mostrar">mostrar pokemones</button>
	  	<button id="ocultar">ocultar pokemones</button>

	  	<br/>
	  	<table id="tabla_pokemones">
		
			<thead>
				<tr>
			  		<th>ID</th>
				  	<th>NOMBRE</th>
				  	<th>NIVEL DE ARRIBO</th>
				</tr>
			</thead>

			<tbody>
				<tr th:each="pokemon: ${pokemones}">
				  	<td th:text="${pokemon.getId()}"></td>
				  	<td th:text="${pokemon.getNombre()}"></td>
				  	<td th:text="${pokemon.getNivel()}"></td>
				</tr>
			</tbody>

		</table>

		<button id="diurno">Modo Diurno</button>
		<button id="nocturno">Modo Nocturno</button>

		<ul id="atributos_pokemon">
			
			<button id="habilidad_boton">Ver habilidades</button> 
			<button id="tipo_boton">Ver tipos</button> 
			<button id="evolucion_boton">Ver evoluciones</button> 

			<!-- <button><a href="evolucion/">Ver evoluciones</a></button> -->
		</ul>

		<div id="contenidos_externos"></div>

		<h1 id="titulo_atributo"></h1> 
		<table>
			<thead>
				 <tr>
					<th>ID</th>
					<th>NOMBRE</th>
				</tr> 
			</thead>
			<tbody id="panel_atributos">
			</tbody>
		</table>

	<script
	  	src="https://code.jquery.com/jquery-3.6.0.min.js"
	  	integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
		crossorigin="anonymous">
	</script>

	<script
		src="https://code.jquery.com/jquery-3.2.1.js"
		type="text/javascript">
	</script>

	<script>
	//$(document).ready(function() {

		var modo_diurno = true;

		$("td").mouseover(function(){
            $(this).css("background-color", "#ffe0e9");
        });
        $("td").mouseout(function(){
            if(modo_diurno == true){        
                $(this).css("background-color", "#FFFFFF");
            }
            else{
                $(this).css("background-color", "#696969");   
            }
        });


        $("th").mouseover(function(){
            $(this).css("background-color", "#ffa0bd");
        });
        $("th").mouseout(function(){
            if(modo_diurno == true){        
                $(this).css("background-color", "#FFFFFF");
            }
            else{
                $(this).css("background-color", "#696969");   
            }
        });

	    $('#nocturno').click(function(){
            $('td').css('background-color', '#696969');
            $('th').css('background-color', '#696969');
            $('body').css('background-color', '#696969');
            modo_diurno = false;
        });   
        $('#diurno').click(function(){
            $('td').css('background-color', '#FFFFFF');
            $('th').css('background-color', '#FFFFFF');
            $('body').css('background-color', '#FFFFFF');
            modo_diurno = true;
        });  


		$("#mostrar").on('click', function() {
			$("#tabla_pokemones").slideDown();
		});
		$("#ocultar").on('click', function() {
			$("#tabla_pokemones").slideUp();
		});


		$("#atributos_pokemon a").click(function(event){ // forma vieja
			event.preventDefault();
			var url = $(this).attr("href");

			$("#contenidos_externos").load(url);
		});


		document.querySelector('#habilidad_boton').addEventListener('click', traerHabilidades);
		document.querySelector('#tipo_boton').addEventListener('click', traerTipos);
		document.querySelector('#evolucion_boton').addEventListener('click', traerEvoluciones);

		function traerTipos(){
			const xhttpTipo = new XMLHttpRequest();
			xhttpTipo.open('GET', 'tipo/', true);
			xhttpTipo.send();

			xhttpTipo.onreadystatechange = function(){
				if(this.readyState == 4 && this.status == 200){
					let datos = JSON.parse(xhttpTipo.response);
					let tabla = document.querySelector('#panel_atributos');
					tabla.innerHTML = ''; 

					for(let item of datos){
						tabla.innerHTML += `
							<tr>
								<td>${item.id}</td>
								<td>${item.nombre}</td>
							</tr>
						`
					}
				}
			}
		}	


		function traerHabilidades(){
			const xhttpHabilidad = new XMLHttpRequest();
			xhttpHabilidad.open('GET', 'habilidad/', true);
			xhttpHabilidad.send();

			xhttpHabilidad.onreadystatechange = function(){
				if(this.readyState == 4 && this.status == 200){
					let datos = JSON.parse(xhttpHabilidad.response);
					let tabla = document.querySelector('#panel_atributos');
					tabla.innerHTML = ''; 

					for(let item of datos){
						tabla.innerHTML += `
							<tr>
								<td>${item.id}</td>
								<td>${item.nombre}</td>
							</tr>
						`
					}
				}
			}		
		}


		function traerEvoluciones(){
			const xhttpEvolucion = new XMLHttpRequest();
			xhttpEvolucion.open('GET', 'evolucion/', true);
			xhttpEvolucion.send();

			xhttpEvolucion.onreadystatechange = function(){
				if(this.readyState == 4 && this.status == 200){
					let datos = JSON.parse(xhttpEvolucion.response);
					let tabla = document.querySelector('#panel_atributos');
					tabla.innerHTML = ''; 

					for(let item of datos){
						tabla.innerHTML += `
							<tr>
								<td>${item.id}</td>
								<td>${item.nombre}</td>
								<td>${item.nivelNecesario}</td>
								<td>${item.tipoEvolucion}</td>
							</tr>
						`
					}
				}
			}		
		}

  </script>
</html>

