<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">

	<head>
		<meta charset="UTF-8">
		<title th:text="${title}"></title>
	</head>
  	<body>

  	<h1 th:text="${title}"></h1>

	<button id="mostrar">mostrar pokemones</button>
  	<button id="ocultar">ocultar pokemones</button>

  	<br/>
  	<table id="tabla_pokemones">
	
		<thead>
			<tr>
		  		<th onmouseover="pintar(this,'#ffa0bd')"
				  onmouseout="pintar(this,'#fff')">
				ID</th>

			  	<th onmouseover="pintar(this,'#ffa0bd')"
				  onmouseout="pintar(this,'#fff')">
				NOMBRE</th>

			  	<th onmouseover="pintar(this,'#ffa0bd')"
				  onmouseout="pintar(this,'#fff')">
				NIVEL DE ARRIBO</th>
			</tr>
		</thead>

		<tbody>
			<tr th:each="pokemon: ${pokemones}">

			  	<td onmouseover="pintar(this,'#ffe0e9')"
				  onmouseout="pintar(this,'#fff')"
				  th:text="${pokemon.getId()}"></td>

			  	<td onmouseover="pintar(this,'#ffe0e9')"
				  onmouseout="pintar(this,'#fff')"
				  th:text="${pokemon.getNombre()}"></td>

			  	<td onmouseover="pintar(this,'#ffe0e9')"
				  onmouseout="pintar(this,'#fff')"
				  th:text="${pokemon.getNivel()}"></td>
			</tr>
		</tbody>

	</table>

	<button id="diurno">Modo Diurno</button>
	<button id="nocturno">Modo Nocturno</button>

	<ul id="atributos_pokemon">
		<li><a href="habilidad/">Ver habilidades</a></li>
		<li><a href="evolucion/">Ver evoluciones</a></li>
		<li><a href="tipo/">Ver tipos</a></li>
	</ul>

	<div id="contenidos_externos"></div>

	</body>

	<script
	  	src="https://code.jquery.com/jquery-3.6.0.min.js"
	  	integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
		crossorigin="anonymous">
	</script><!--con esto agrego jquery-->

	<script
		src="https://code.jquery.com/jquery-3.2.1.js"
		type="text/javascript">
	</script>

	<script>

	var modo_diurno = true;

	function pintar(objeto, color){
		objeto.style.backgroundColor = color;
	}

	document.getElementById("nocturno").onclick = function(){
		modo_diurno = false;
		document.bgColor="#696969";
	};
	document.getElementById("diurno").onclick = function(){
		modo_diurno = true;
		document.bgColor="#FFFFFF";
	};

	$("#mostrar").on('click', function() {
		$("#tabla_pokemones").slideDown();
	});
	$("#ocultar").on('click', function() {
		$("#tabla_pokemones").slideUp();
	});


	$("#atributos_pokemon a").click(function(){
		var url = $(this).attr("href");

		$("#contenidos_externos").load(url);
		return false;
	});
	
  </script>

<!--
  funcion de coloreo en nocturno

   function pintar(objeto, color){
	if((modo_diurno == false) && (color == "#fff")){
	  objeto.style.backgroundColor = "#696969";
	else{
	  objeto.style.backgroundColor = color;
	}
  }
-->

</html>
