<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
    <head>
        <meta charset="UTF-8">
        <title th:text="${title}"></title>
    </head>

    <body>
        <h1 th:text="${title}"></h1>

        <button id="mostrar">mostrar entrenadores</button>
        <button id="ocultar">ocultar entrenadores</button>

        <br/>
        <table id="tabla_entrenadores">
            <thead>
                <tr>
                    <th>
                        ID</th>

                    <th>
                        NOMBRE</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="entrenador: ${entrenadores}">

                    <td th:text="${entrenador.getId()}"></td>

                    <td th:text="${entrenador.getNombre()}"></td>
                </tr>
            </tbody>

        </table>

        <button id="diurno">Modo Diurno</button>
        <button id="nocturno">Modo Nocturno</button>

    </body>

    <script
        src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous">
    </script><!--con esto agrego jquery-->

    <script
        src="https://code.jquery.com/jquery-3.2.1.js"
        type="text/javascript">
    </script>

    <script>
        var modo_diurno = true;

        $("td").mouseover(function(){
            $(this).css("background-color", "#ffe0e9");
        });

        $("td").mouseout(function(){
            $(this).css("background-color", "#FFFFFF");
        });

        $('#nocturno').click(function(){
            $('body').css('background-color', '#696969');
        });   

        $('#diurno').click(function(){
            $('body').css('background-color', '#FFFFFF');
        });


        $("#mostrar").on('click', function() {
            $("#tabla_entrenadores").slideDown();
        });

        $("#ocultar").on('click', function() {
            $("#tabla_entrenadores").slideUp();
        });

    </script>
</html>
