<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="UTF-8">
        <title>Login</title>
        <link rel="stylesheet" href="./css/estilos.css">
    </head>

    <body>

        <h1 class="texto-centrado">Login</h1>
        <form method="post" th:action="@{/login}">
            <label for="username">Username:</label>
            <input type="text" name="username" id="username"/>
            <br/>
            <label for="password">Password:</label>
            <input type="password" name="password" id="password" title="Password must be 8 characters including 1 uppercase letter, 1 lowercase letter and numeric characters" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" >
            <input id="botoningreso" type="submit" value="Login" />
        </form>

        <input type="text" id="test" value="ingresar nombre usuario">
        <button id="boton">Verificar usuario</button>

        <button id="mostrar">mostrar titulo</button>
        <button id="ocultar">ocultar titulo</button>
        <button style="position: absolute;top: 15%;">Hello</button>

    </body>

    <script
            src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous">
    </script>
    <script>
        $(document).ready(function() {

            dar_bienvenida();

            accionar_titulo();

            informar_usuario_valido();


            function dar_bienvenida(){
                alert("Debe iniciar sesion para continuar");
            }

            function accionar_titulo(){
                ocultar_titulo();
                mostrar_titulo();
            }

            function ocultar_titulo(){
                $("#ocultar").click(function(){
                    $("h1").hide();
                });
            }

            function mostrar(){
                $("#mostrar").click(function(){
                    $("h1").show();
                });
            }

            function informar_usuario_valido(){
                $("#boton").click(function(){
                    alert($("#test").val() + " es un usuario valido");
                });
            }

        });

    </script>

</html>